<header class="toadstool_header">
	<h1>navigation</h1>
</header>
<section id="top_level_navigation">
	<%= partial :'shared/_toadstool_subheader', :locals => { 
      :header => 'top level navigation', :text => 'This is the navigation bar at the the top of a page' 
    } %>
    <%= html_example 'navigation/top_level_nav' %>
    <%= sass_example '_navigation' %>
</section>

<section id="drop_down_navigation">
	<%= partial :'shared/_toadstool_subheader', :locals => { 
      :header => 'drop down navigation', :text => 'This is the drop down from top level navigation' 
    } %>
    <%= html_example 'navigation/drop_down_nav' %>
    <%= sass_example '_navigation' %>
</section>